
body {
    font-family: Baskerville, Times New Roman, Serif;
	font-size:11px;
	margin:0px;
	padding:0px;
	text-align:left;
    background-color: #ffffff;
}

#header { font-size:120%; text-align: right; }
#footer { font-size:200%; text-align: center; margin-top: 10px; }
#container { width: 960px; margin-left: auto; margin-right: auto; margin-top: 10px; background-color: #ffffff;}

.headerlogo { position: relative; left: -30px; top:17px; border-style: none; }
.headertext { position: relative; left: -35px; }

.maindiv { position:absolute; left: 0px; top: 10px; width: 700px; height: 490px; border: 2px solid #000000; }
.mainimg { position:absolute; left: 0px; top: 10px; width: 688px; }
.overlay { position:absolute; left: 0px; top: 370px; width: 680px; height: 100px; background-color: #a0a0a0; opacity:0.8; filter:alpha(opacity=80); font-size:200%; padding:10px; }

.bgimg { position:absolute; left: 0px; top: 0px; width: 700px; height: 490px; }
.img0 { position:absolute; left: 10px; top: 10px; height: 450px; }
.img1 { position:absolute; left: 230px; top: 10px; height: 450px; }
.img2 {position:absolute; left: 380px; top: 10px; height: 450px; }

.sidediv0 { position:absolute; left: 710px; top: 10px; width: 245px; height: 157px; border: 2px solid #ff0000; }
.sidediv1 { position:absolute; left: 710px; top: 177px; width: 245px; height: 157px; border: 2px solid #000000; }
.sidediv2 { position:absolute; left: 710px; top: 343px; width: 245px; height: 157px; border: 2px solid #000000; }

.sideimg0 { position:absolute; left: 45px; top: 5px; width: 150px; }
.sideimg1 { position:absolute; left: 5px; top: 5px; width: 230px; }
.sideimg2 { position:absolute; left: 35px; top: 5px; width: 170px; }

.imagemain { position: relative; height: 520px; }

.ui-corner-all {
    background-color: #fff;
    padding: 10px;
    margin: 0px;
    font-size: 100%;
}

.steplist {
    margin-top: 10px;
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 200%;
    padding-left: 230px;
    padding-right: 230px;
    line-height: 150%;
}

.button 
{
    border: 1px solid #000000;
    background-color: #d0d0d0;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 170px;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.button:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}
